<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>I regret</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="indexStyles.css">
</head>

<body>
    <div class="face">

        <h1>I Regret</h1>

        <div>
            <a href="/register"><button  class="btn btn-primary" >Register</button></a>
            <a href="/login"><button class="btn btn-primary">Log in</button></a>
        </div>
    </div>
</body>

</html>