body {
    padding: 10px;
    margin: 10px;
    background: url("images/background.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}